@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 33% 14%;
    --foreground: 0 0% 93%;
    --muted: 218 46% 16%;
    --muted-foreground: 0 0% 70%;
    --popover: 218 46% 16%;
    --popover-foreground: 0 0% 93%;
    --border: 213 73% 22%;
    --input: 213 73% 22%;
    --card: 218 46% 16%;
    --card-foreground: 0 0% 93%;
    --primary: 351 80% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213 73% 22%;
    --secondary-foreground: 0 0% 93%;
    --accent: 213 73% 22%;
    --accent-foreground: 0 0% 93%;
    --destructive: 348 100% 55%;
    --destructive-foreground: 0 0% 100%;
    --ring: 351 80% 59%;
    --radius: 0.5rem;
    --success: 145 100% 39%;
    --warning: 51 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
